$tablet: 768px;
$desktop: 1200px;

$font-default: "Roboto", sans-serif; //main font
$font-accent: "Roboto", sans-serif; //main font

$color-default: #3d3d3d; //main text
$color-accent: #01663f; //heading
$color-suplement: #3d3d3d;

$bg: #fff; // body background


$color1: #5335cf;
$color2: #de005e;
$color3: #f66e48;

$box_h: 200px;
$origin: 135deg;
$view_h: $box_h * 10;
$duration: 5s;

